<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ titulo }}</title> <!-- Equivalente al echo-->
</head>
<body>
<a> hola que tall


    Rsultado = {{ resultado }}

</a>
</body>
</html>