{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} Home{% endblock %}
{% block body %}
    <ul>
        <li> <a href="{{ path('app_calculator_sum') }}"> Inicio </a></li>
    </ul>
    <!-- Va por bloques, se refiere a ls bloques de la base.html.twig -->
{% endblock %}
