{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} Home{% endblock %} <!-- Va por bloques,
                                                     se refiere a ls bloques de la base.html.twig -->
{% block body %}
    <ul>
        <li> <a href="{{ path('app_calculator_index') }}"> Inicio </a></li>
    </ul>
{% endblock %}