#Titulo{
    text-align: center;
    font-size: 3em;
    color: #002E6D;
    font-weight: bold;
}

.Cuerpo{
    font-size:2em;
    text-align: center;
    color: #002E6D;
}

.gif{
    float: none;

}

